/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	/* Reference name */
	font-family: "MrsSaintDelafield";
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url("/fonts/MrsSaintDelafield/MrsSaintDelafield-Regular.ttf");
}
