/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	/* Reference name */
	font-family: "MrsSaintDelafield";
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url("/fonts/MrsSaintDelafield/MrsSaintDelafield-Regular.ttf");
}

@font-face {
	font-family: "NotoSans";
	src: url("/fonts/NotoSans/NotoSans-Bold.ttf"), url("/fonts/NotoSans/NotoSans-Medium.ttf"),
		url("/fonts/NotoSans/NotoSans-Regular.ttf");
}
